<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>(re)composition - journal 2007-2022.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975099</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Bess.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975194</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>I95.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974896</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Les Ombres.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975004</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Nous voilà rencontrés, la terre et nous....md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974598</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Requiem.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974801</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Sans titre.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>806850140.02203798</real>
				<key>lastModification</key>
				<real>806850140.02203798</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Table des étoiles pour Igael Tumarkin.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974503</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Toucher la terre.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975194</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>a renoir.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974706</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>dans l’atelier du peintre.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975099</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>digressions du réel.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974801</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>figure de la disparition.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974801</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>figure sentiments.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974896</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>figures out.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974896</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>key west.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974598</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>la couleur des asphodèles.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975302</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>le mental.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974396</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>les dissonances.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72974706</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>les poemes.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975004</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>les_everglades.md</key>
			<dict>
				<key>lastModification</key>
				<real>806850098.72975099</real>
				<key>version</key>
				<dict>
					<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>le mental.md</string>
		</array>
		<array>
			<string>Table des étoiles pour Igael Tumarkin.md</string>
		</array>
		<array>
			<string>Nous voilà rencontrés, la terre et nous....md</string>
		</array>
		<array>
			<string>key west.md</string>
		</array>
		<array>
			<string>a renoir.md</string>
		</array>
		<array>
			<string>les dissonances.md</string>
		</array>
		<array>
			<string>Requiem.md</string>
		</array>
		<array>
			<string>digressions du réel.md</string>
		</array>
		<array>
			<string>figure de la disparition.md</string>
		</array>
		<array>
			<string>figures out.md</string>
		</array>
		<array>
			<string>figure sentiments.md</string>
		</array>
		<array>
			<string>I95.md</string>
		</array>
		<array>
			<string>Les Ombres.md</string>
		</array>
		<array>
			<string>Sans titre.md</string>
		</array>
		<array>
			<string>les poemes.md</string>
		</array>
		<array>
			<string>(re)composition - journal 2007-2022.md</string>
		</array>
		<array>
			<string>dans l’atelier du peintre.md</string>
		</array>
		<array>
			<string>les_everglades.md</string>
		</array>
		<array>
			<string>Bess.md</string>
		</array>
		<array>
			<string>Toucher la terre.md</string>
		</array>
		<array>
			<string>la couleur des asphodèles.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>d14fd2ea137b22ead8488d403fd7dd6724a7daf8afffd658aa03586556a07afb</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
